*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "inter", sans-serif;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  background-color: #0A0A0A;
  font-size: 24px;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  width: 37px;
  height: 48px;
}

.header-wrap > svg {
  margin-left: -140px;
}

.header-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-top: 42px;
  padding-bottom: 42px;
}

.header-list-item {
  color: #717171;
  font-weight: 400;
}

.tel {
  color: #717171;
  font-size: 24px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F7;
}

.banner-heading {
  color: #5C00B8;
  font-size: 64px;
  font-weight: 700;
  padding-top: 71px;
  padding-bottom: 40px;
}

.banner > img {
  max-width: 937px;
  max-height: 657px;
}

.banner-button {
  background-color: #490E84;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border-radius: 40px;
  padding: 20px 118px 20px 118px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-heading {
  font-size: 32px;
  font-weight: 700;
  color: #717171;
  text-align: center;
  padding-top: 87px;
  padding-bottom: 50px;
}

.whats-new-div {
  max-width: 560px;
  margin-right: 200px;
}

.whats-new-list > li:not(:last-child) {
  padding-bottom: 30px;
}

.whats-new-list > li {
  font-size: 14px;
  font-weight: 400px;
}

.whats-new-list > li:last-child {
  font-weight: 700;
  font-size: 20px;
}

.whats-new-wrap {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.whats-new-wrap > img {
  max-height: 370px;
}

.iphones-list {
  display: flex;
  gap: 80px;
  padding-bottom: 150px;
}

.iphones-list-item {
  text-align: center;
}

.iphones-list-item > p {
  font-size: 14px;
}

.form-section {
  display: flex;
  margin-bottom: -5px;
}

.form-div {
  background-color: #574B63;
  color: #fff;
  max-height: 600px;
}

.form-heading {
  font-size: 31px;
  font-weight: 700;
  padding-bottom: 60px;
}

.content {
  padding: 138px 94px 138px 94px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(245, 245, 245, 0.8);
  min-height: 30px;
}

input::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
  margin-bottom: 5px;
}

input::placeholder {
  color: #fff;
  opacity: 0.6;
  margin-bottom: 5px;
}

input {
  margin-bottom: 20px;
}

.form-description {
  font-size: 14px;
  opacity: 0.6;
  text-align: center;
  padding-bottom: 20px;
}

.button {
  max-width: 240px;
  color: #490E84;
  font-weight: 700;
  font-size: 14px;
  padding: 15px 80px 15px 80px;
  border: none;
  border-radius: 40px;
  align-self: center;
}

footer {
  background-color: #0A0A0A;
  min-height: 150px;
  display: flex;
  align-items: center;
}

.footer-link {
  color: #717171;
  font-size: 14px;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */